<form action="/pirates" method="post">
    <h2>Pirate Info</h2>
    <label>Name: </label><input type="text" name="pirate[name]" id="pirate_name">
    <label>Name: </label><input type="text" name="pirate[weight]" id="pirate_weight">
    <label>Name: </label><input type="text" name="pirate[height]" id="pirate_height">
    <h2>Ship 1 Info</h2>
    <label>Name: </label><input type="text" name="pirate[ships][][name]" id="ship_name_1">
    <label>Name: </label><input type="text" name="pirate[ships][][type]" id="ship_type_1">
    <label>Name: </label><input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
    <h2>Ship 2 Info</h2>
    <label>Name: </label><input type="text" name="pirate[ships][][name]" id="ship_name_2">
    <label>Name: </label><input type="text" name="pirate[ships][][type]" id="ship_type_2">
    <label>Name: </label><input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
    <br>
    <input type="submit" value="Submit">
</form>